@model IEnumerable<Booking_Service.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nueva Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadEntradas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadEntradas)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ReservaID">Detalles</a> |
                    <a asp-action="Cancel" asp-route-id="@item.ReservaID">Cancelar Reserva</a>
                </td>
            </tr>
        }
    </tbody>
</table>
